/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box; 
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* Tekst */
	--color-text:white;

	/* Background */
	--color-background:black;
	--color-footer:#171717;

	/* Links */
	--link-color:#ffffff;
	--link-visited-color:#ffffff;
	--link-background-color:#ffffff;

	/* Buttons */
	--button-color:#31caff;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-text:black;
		--color-background:white;
	}
}

@media (prefers-color-scheme: contrast) {
	:root {
		--color-text:black;
		--color-background:white;
	}
}



/****************/
/* JOUW STYLING */
/****************/

h1 {
	font-family: "proxima-nova", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 1.8em;
	margin-bottom: 0.1em;
	margin-top: 1em;
}

h2 {
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1px;
	font-size: 1.3em;
}

h3 {
	font-family: "proxima-nova", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 1.8em;
	margin-bottom: 0.6em;
}

p {
	font-family: "proxima-nova", sans-serif;
	font-weight: 200;
	font-style: normal;
}

a {
	font-family: "proxima-nova", sans-serif;
	font-weight: 200;
	font-style: normal;
}

a:visited {
	color:var(--link-visited-color);
}

a:focus-visible {
	background:var(--link-background-color);
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	margin: 0;
}

main {
	padding: 1em;
	padding-top: 4em;
}

/*************/
/* DE HEADER */
/*************/
header {
	z-index: 9999;
	min-height:4em;
	padding:0 1em;
	background-color: var(--color-background);
	line-height:1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
  }
  
  /* alle links in de header */
  header a {
	padding:.5em 0;
	color:var(--general-color);
	text-decoration:none;
  }
  
  /********/
  /* LOGO */
  /********/
  header > a:first-of-type {
	display:grid;
	grid-template-columns:min-content min-content;
	grid-gap:.25em;
	align-items:center;
	font-weight:bold; 
  }
  
  header > a:first-of-type img {
	height:3em;
  }

main section img{
	aspect-ratio: 1/1;
	object-fit: cover;
	/* object-position: 75% 25%; */
	max-width:100%;
}

main section.bovenvouw img{
	width: calc(100% + 2em);
	max-width:unset;
	margin: 0 -1em;
	/* object-position: 75% 25%; */
}

/*****************/
/* BEIDE BUTTONS */
/*****************/
header button {
	padding:.5em;
	display:flex;
	align-items:center;
	gap:.25em;
	
	appearance:none;
	background-color:var(--button-background);
	border:none;
	border-radius:.25em; 
	font:inherit;
	text-align:center;
	color:var(--button-color);
  }
  
  header button img {
	height:1em;
	padding-right: 1.5em;
  }
  
  /***************/
  /* MENU BUTTON */
  /***************/
  header > button {
	order:-100;
  }
  
  
  /***************/
  /* SLUIT BUTTON */
  /***************/
  nav button {
   justify-self:start;
   cursor: pointer;
   z-index: 150;
  }
  
  /************/
  /* HET MENU */
  /************/
  header nav {
	padding:0.3em;
	display:grid;
	align-content:start;
	gap:3em;
	display: flex;
	justify-content: space-between;
	width: 100vw;
  }

  header nav ul {
	background-color: var(--color-background);
	position: fixed; 
	inset:0;
	translate: 100% 0;
	transition: .3s;
  }

  header nav.open ul {
	translate:0 0;
}
  
  /*******************/
  /* LIJST MET LINKS */
  /*******************/
  header nav ul { 
	margin:0; 
	padding:0.7em;
	list-style:none;
  }

  /************************/
  /* EEN LINK IN DE LIJST */
  /************************/
 
  header nav a {
	/* icon en tekst met gap-je naast elkaar */
	display:flex;
	align-items:center;
	column-gap:.25em;
  }
  
  header nav a img {
	width:auto;
	height:2em;
	margin-left:-0.2em;
  }
  
  header nav a.active {
	font-weight:bold;
  }

  header button img {
	height:1.6em;
  }

   /************************/
  /* FOOTER */
  /************************/

 
  footer {
	background-color: var(--color-footer);
	height: 10em;
	align-items: center;
	text-align: center;
	flex-direction: column;

  }

  footer p {
	text-align: center;
	font-size: 0.7em;
	display: flex;
	flex-direction: column;
  }

  footer ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	list-style: none;
  }

  footer a {
	color: var(--color-text);
	text-decoration: none;
	padding: 0.5em;
  }

  footer img {
	width: 10em;
  }
