.bovenvouw button{
    background-color:var(--button-color);
    padding: 0.5em;
    border: none;
    color: white;
    border-radius: 0.3em;
    font-family: "proxima-nova", sans-serif;
	font-weight: 600;
	font-style: normal;
    font-size: 1em;
    text-transform: uppercase; 
    letter-spacing: 0.1em;
}

.bovenvouw {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5em;
}

.bovenvouw figure {
    order: -1;
    position: relative;
    margin: 0;
    font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-style: normal;
    font-size: 0.9em;

}

.bovenvouw figure figcaption {
    position: absolute;
    bottom: 1.2em;
    left: .2em;

}

.bovenvouw h2 {
    padding-bottom: 1em;
}

.video {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: -1em;
}

.video p {
    text-align: center;
    padding-top: 1em;
}

input {
    padding: 0.7em;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    padding:0;
}

.carousel > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    justify-content: start;
    align-items: center;
}

.carousel > ul li {
    min-width:100%;
    scroll-padding-top: 2em;
}

.carousel nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.carousel img {
    aspect-ratio: 16/9;
	object-fit: cover;
}

.carousel p {
    text-align: center;
}

.carousel a img {
    display: flex;
    flex-direction: row;
    max-width: 2em;
    aspect-ratio: 1/1;
}

.carousel ul {
    padding: 0;
}


/* referrals */

.referrals {
    display: flex;
    flex-direction: column;
    margin-top: -2em;
}

.referrals img {
    aspect-ratio: 1/1;
	object-fit: contain;
	/* object-position: 75% 25%; */
	max-width:100%;
    margin-bottom: 0.2em;
}

.referrals h3 {
    text-align: center;
}

.referrals h4 {
    color:var(--button-color);
    text-align: center;
    margin-bottom: -1em;
}

.referrals p {
    text-align: center;
}

/* referrals carousel */

.refferalscarousel h3 {
    margin-top: 2em;
}

.refferalscarousel > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    justify-content: start;
    align-items: center;
}

.refferalscarousel > ul li {
    min-width:100%;
    scroll-padding-top: 2em;
}

.refferalscarousel nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.refferalscarousel img {
	object-fit: cover;
}

.refferalscarousel p {
    text-align: center;
}

.refferalscarousel a img {
    display: flex;
    flex-direction: row;
    max-width: 2em;
    aspect-ratio: 1/1;
}

.refferalscarousel ul {
    padding: 0;
    margin-bottom: 4em;
}